<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>abc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>92DEF8921C1590B200B9F9D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92DEF8AB1C1590B200B9F9D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92DEF8B61C1590B200B9F9D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
